*.pyc
*.pyo
.*.swp
py_third/
rpmbuild/
output/
build/
dist/
src/tuplenet.egg-info/
src/tuplenet/pkt_controller/.*
src/tuplenet/pkt_controller/COPYING
src/tuplenet/pkt_controller/Makefile
src/tuplenet/pkt_controller/aclocal.m4
src/tuplenet/pkt_controller/autom4te.cache/
src/tuplenet/pkt_controller/config.*
src/tuplenet/pkt_controller/depcomp
src/tuplenet/pkt_controller/install-sh
src/tuplenet/pkt_controller/missing
src/tuplenet/pkt_controller/stamp-h1
src/tuplenet/pkt_controller/configure
src/tuplenet/pkt_controller/Makefile.in
src/tuplenet/pkt_controller/INSTALL
src/tuplenet/pkt_controller/pkt_controller
src/tuplenet/pkt_controller/*.o
src/tests/dir_test/
afterinstall.sh
afterremove.sh
afterupgrade.sh
beforeinstall.sh
beforeremove.sh
beforeupgrade.sh
fpm.sh
